.header-text{
    padding-left:10px;
}
.search-form{
    min-height:200px;
    overflow:hidden;
}
.spinner{
    min-height:200px;
    padding-top:15px;
}
.poster {
    margin-top: 10px;
    margin-right: 10px;
}
.plot-text{
    color:rgba(0,0,0,0.8) !important;
}
.high-rated{
    background-color:rgba(255,255,50,0.3);
}
